# Compiled and build artifacts
*.class
*.o
*.obj
*.out
build/
target/

# Dependencies
.gradle/
libs/
!src/main/resources/

# Logs and temp files
*.log
*.tmp

# Editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Environment
.env
.env.local
*.env.*
